In [8]:
import pandas as pd

# 2m air temperature
tmp = pd.read_csv('./data/H_ERA5_ECMW_T639_TA-_0002m_Euro_NUT2_S197901010000_E202304302300_INS_TIM_01h_NA-_noc_org_NA_NA---_NA---_NA---.csv',
skiprows=52,
parse_dates=True,
index_col='Date')

In [9]:
len(tmp)

388582

In [10]:
tmp.head()

,AL01,AL02,AL03,AT11,AT12,AT13,AT21,AT22,AT31,AT32,...,UKK3,UKK4,UKL1,UKL2,UKM5,UKM6,UKM7,UKM8,UKM9,UKN0
Date,,,,,,,,,,,,,,,,,,,,,
1979-01-01 00:00:00,282.85086,284.81796,284.64844,275.12780,276.23930,276.26315,272.48727,271.12805,275.12690,270.68332,...,268.54993,267.68660,266.98526,264.67760,263.44147,266.02383,261.31940,262.43500,263.95780,267.18848
1979-01-01 01:00:00,283.01680,285.14343,284.93200,275.06152,276.38144,276.93350,272.96793,271.26150,275.72064,271.17865,...,268.20550,267.35360,266.94030,264.34073,263.21550,266.80023,261.66098,262.90845,263.95782,267.82956
1979-01-01 02:00:00,283.65448,285.92432,285.78854,274.86578,276.39807,276.18216,273.21110,271.52496,276.16754,271.03027,...,268.07263,267.21180,266.88170,263.97766,263.01670,266.70170,261.20993,262.29358,263.42657,268.05685
1979-01-01 03:00:00,281.73743,284.01263,284.29684,275.07254,276.70438,277.09100,273.15738,272.01862,275.75992,270.02344,...,266.45673,265.50638,265.20090,262.12668,264.59372,267.59412,262.12537,262.16956,263.27084,266.01290
1979-01-01 04:00:00,281.71677,283.86536,284.11295,275.09048,275.94406,276.46808,272.32877,271.39880,275.38452,269.10397,...,266.07828,265.36835,265.25220,262.19992,264.79270,267.64694,262.51495,262.76340,263.50894,265.44574

In [11]:
tmp.tail()

,AL01,AL02,AL03,AT11,AT12,AT13,AT21,AT22,AT31,AT32,...,UKK3,UKK4,UKL1,UKL2,UKM5,UKM6,UKM7,UKM8,UKM9,UKN0
Date,,,,,,,,,,,,,,,,,,,,,
2023-04-30 19:00:00,285.69608,288.35776,288.20145,284.56573,283.57993,284.14110,283.50952,282.05800,283.65894,281.16280,...,285.32086,284.99667,284.57092,284.73346,284.53998,283.88010,284.75810,285.06964,284.48780,285.04694
2023-04-30 20:00:00,284.10860,286.55830,286.91003,283.10876,282.30908,283.07962,282.18362,280.70096,282.44147,279.99936,...,284.54977,284.16147,283.68190,283.85168,283.44318,283.31850,283.73502,284.18024,283.73447,284.09598
2023-04-30 21:00:00,283.82320,285.71090,286.47570,282.13574,281.41962,282.06924,280.98245,279.61307,281.70062,278.98602,...,284.13165,284.02588,283.33100,283.18097,283.17105,282.96780,282.89304,283.56882,283.18340,283.72812
2023-04-30 22:00:00,282.58490,284.91806,285.48972,282.00750,280.65344,281.78510,280.33530,279.03757,280.94460,278.20285,...,283.43890,283.68546,283.12845,282.89084,282.32034,282.61334,282.51720,283.19464,282.66028,283.66272
2023-04-30 23:00:00,282.01843,284.06670,284.58722,281.51746,279.96115,280.92172,279.81880,278.43683,280.38416,277.53107,...,283.27173,283.21545,283.13504,282.79962,282.07608,282.56903,282.12310,282.92368,282.31406,283.55370

In [12]:
del tmp

In [14]:
import netCDF4 as nc
fn = './data/H_ERA5_ECMW_T639_TA-_0002m_Euro_025d_S202106010000_E202106302300_INS_MAP_01h_NA-_noc_org_NA_NA---_NA---_NA---.nc'
ds = nc.Dataset(fn)

In [16]:
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT_OFFSET data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2021-07-06 00:01:15 GMT by grib_to_netcdf-2.20.0: /opt/ecmwf/mars-client/bin/grib_to_netcdf -S param -o /cache/data8/adaptor.mars.internal-1625529673.4568622-21508-7-84d3d361-0a61-4666-ad65-53e47213fc6c.nc /cache/tmp/84d3d361-0a61-4666-ad65-53e47213fc6c-adaptor.mars.internal-1625529656.870412-21508-10-tmp.grib
    dimensions(sizes): longitude(271), latitude(185), time(720)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 t2m(time, latitude, longitude)
    groups:

In [17]:
for var in ds.variables.values():
    print(var)

<class 'netCDF4._netCDF4.Variable'>
float32 longitude(longitude)
    units: degrees_east
    long_name: longitude
unlimited dimensions:
current shape = (271,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
float32 latitude(latitude)
    units: degrees_north
    long_name: latitude
unlimited dimensions:
current shape = (185,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: hours since 1900-01-01 00:00:00.0
    long_name: time
    calendar: gregorian
unlimited dimensions:
current shape = (720,)
filling on, default _FillValue of -2147483647 used
<class 'netCDF4._netCDF4.Variable'>
int16 t2m(time, latitude, longitude)
    scale_factor: 0.000916619835140311
    add_offset: 294.5759577057074
    _FillValue: -32767
    missing_value: -32767
    units: K
    long_name: 2 metre temperature
unlimited dimensions:
current shape = (720, 185, 271)
filling on

In [19]:
ds['t2m'][:]

masked_array(
  data=[[[272.24434866, 272.62657913, 272.96664509, ..., 274.20133201,
          274.22241427, 274.24807962],
         [272.3754253 , 272.72099098, 273.06655665, ..., 274.37915626,
          274.38832246, 274.36174048],
         [272.84565127, 273.16830146, 273.33420965, ..., 274.55881375,
          274.48090106, 274.45340246],
         ...,
         [293.67950351, 293.6190066 , 293.63092266, ..., 304.74035506,
          304.44886995, 304.77518661],
         [293.55850969, 293.56675927, 293.58417504, ..., 304.89251395,
          304.63861026, 304.53503221],
         [293.59334124, 293.61167364, 293.66208773, ..., 305.02175735,
          304.52769926, 304.57444687]],

        [[271.96752947, 272.43592221, 272.90523156, ..., 274.29391061,
          274.34065823, 274.36357372],
         [271.73104155, 272.19393457, 272.66874365, ..., 274.40665485,
          274.45340246, 274.46165204],
         [272.37909178, 272.68799266, 272.92631382, ..., 274.45156923,
          274.43781993, 274.44790275],
         ...,
         [293.77758183, 293.7390838 , 293.74091704, ..., 304.07488906,
          303.51391772, 303.69815831],
         [293.56492603, 293.58417504, 293.59059138, ..., 304.25271331,
          303.76782141, 303.6055797 ],
         [293.52551137, 293.55117673, 293.58050856, ..., 304.38287332,
          303.75590535, 303.77240451]],

        [[271.48538744, 272.03627596, 272.59449744, ..., 274.15275116,
          274.22883061, 274.32507569],
         [271.08665781, 271.63571309, 272.20218415, ..., 274.31315963,
          274.37548978, 274.41490443],
         [271.77962241, 272.10410583, 272.39925741, ..., 274.44423627,
          274.43598669, 274.47540134],
         ...,
         [293.90499199, 293.83899536, 293.80508042, ..., 302.45613843,
          301.96208034, 302.510219  ],
         [293.6235897 , 293.65108829, 293.62542294, ..., 302.88969961,
          302.53588435, 302.44055589],
         [293.49067982, 293.53742743, 293.57317561, ..., 303.36634192,
          302.71004212, 302.83286918]],

        ...,

        [[275.34985666, 275.38468822, 275.54692993, ..., 278.14829702,
          278.12354828, 278.09971617],
         [274.94196084, 275.10420255, 275.27011074, ..., 278.49477932,
          278.46544748, 278.42786607],
         [275.28935975, 275.20503073, 275.06295466, ..., 278.84951119,
          278.80276358, 278.76426555],
         ...,
         [295.16076116, 295.14059552, 295.1488451 , ..., 307.32430637,
          307.36738751, 308.06676844],
         [295.13876228, 295.14701186, 295.1580113 , ..., 307.48104836,
          307.55254471, 307.98702251],
         [295.1488451 , 295.15617806, 295.16626088, ..., 307.68545459,
          307.71478642, 308.17034648]],

        [[275.9520759 , 275.9383266 , 276.01990576, ..., 278.07496743,
          278.05113532, 278.03371954],
         [275.69633896, 275.77791813, 275.86224715, ..., 278.39761762,
          278.37011902, 278.34262043],
         [275.89707871, 275.96124209, 275.95390913, ..., 278.729434  ,
          278.68635286, 278.65702103],
         ...,
         [295.02235157, 295.00310255, 295.00676903, ..., 306.46543359,
          306.27019356, 306.87974575],
         [294.99118649, 294.99485297, 295.00676903, ..., 306.53418007,
          306.5121812 , 306.76608489],
         [294.99668621, 295.00860227, 295.03426762, ..., 306.70742122,
          306.43610175, 306.94574238]],

        [[276.16656494, 276.17114804, 276.25089396, ..., 278.12996462,
          278.09879955, 278.07313419],
         [275.85491419, 275.93466012, 276.01623928, ..., 278.45811452,
          278.42328297, 278.3783686 ],
         [275.88791251, 275.94840942, 275.96582519, ..., 278.78443119,
          278.73310048, 278.68451962],
         ...,
         [294.96185466, 294.98110367, 295.01043551, ..., 305.20966441,
          304.95576072, 305.68080701],
         [294.94810536, 294.98752001, 295.01868509, ..., 305.42690331,
          305.3059095 , 305.49931628],
         [294.94443888, 294.98752001, 295.0287679 , ..., 305.46540135,
          305.19866498, 305.67255743]]],
  mask=False,
  fill_value=1e+20)

In [21]:
import xarray as xr
ds2 = xr.open_dataset(fn)
df = ds2.to_dataframe()

In [22]:
df.head()

                                               t2m
longitude latitude time
-22.0     72.5     2021-06-01 00:00:00  272.244354
                   2021-06-01 01:00:00  271.967529
                   2021-06-01 02:00:00  271.485382
                   2021-06-01 03:00:00  271.258972
                   2021-06-01 04:00:00  271.129730

In [1]:
from os import listdir
import xarray as xr
import netCDF4 as nc

for file in listdir('./ncf'):
    if file.endswith('.nc'):
        print(file)
        ds = nc.Dataset('./ncf/'+file)
        for var in ds.variables.values():
            print(var)
        del ds
        print('-------')

H_ERA5_ECMW_T639_WON_0100m_Euro_025d_S202101010000_E202101312300_CFR_MAP_01h_NA-_noc_org_NA_NA---_NA---_PhM01.nc
<class 'netCDF4._netCDF4.Variable'>
float64 longitude(longitude)
    units: degrees_east
    long_name: longitude
unlimited dimensions:
current shape = (271,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
float64 latitude(latitude)
    units: degrees_north
    long_name: latitude
unlimited dimensions:
current shape = (185,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: hours since 1900-01-01 00:00:0.0
    long_name: time
    calendar: gregorian
unlimited dimensions: time
current shape = (744,)
filling on, default _FillValue of -2147483647 used
<class 'netCDF4._netCDF4.Variable'>
float32 woncfr(time, latitude, longitude)
    units: kW/kW_installed
    _FillValue: 1e+30
    long_name: Onshore Wind Capacity factor
unlimited dimensions: time
current shape = (744, 185, 271)
filling on
-------